# === Secrets ===
.env
.env.*
!.env.example
frontend/src/environment/environment.prod.ts
docs/stich_conection.md/

# === Claude Code ===
.claude/settings.json
.claude/settings.local.json

# === Python / Django ===
env/
.venv/
venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
output.html
backend/staticfiles/
backend/media/

# === Node / Angular ===
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.env

# Node
/node_modules
npm-debug.log
yarn-error.log

# === IDEs / OS ===
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db