# === Python / Django ===
env/
__pycache__/
*.py[cod]
*.sqlite3
*.log
output.html

# === Node / Angular ===
SkillBridge-front/node_modules/
SkillBridge-front/dist/
SkillBridge-front/.angular/cache/
SkillBridge-front/.env

# === IDEs / OS ===
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db