<div *ngIf="job" class="min-h-screen flex flex-col items-center p-6 mt-16 bg-gray-50 dark:bg-darkBg">
    <button
        (click)="goToResults()" 
        class="fixed top-44 left-0 p-5 font-bold rounded-r-full shadow-md"
        [ngClass]="{
            'bg-green-300': jobDetail.match_percentage === 100,
            'bg-blue-300': jobDetail.match_percentage >= 70 && jobDetail.match_percentage < 100,
            'bg-orange-300': jobDetail.match_percentage >= 50 && jobDetail.match_percentage < 70,
        }"
    >
        Regresar
    </button>
    <div 
        class="fixed top-44 right-0 p-5 font-bold rounded-l-full shadow-md"
        [ngClass]="{
            'bg-green-300': jobDetail.match_percentage === 100,
            'bg-blue-300': jobDetail.match_percentage >= 70 && jobDetail.match_percentage < 100,
            'bg-orange-300': jobDetail.match_percentage >= 50 && jobDetail.match_percentage < 70,
        }"
    >
        {{ jobDetail.match_percentage }}%
    </div>
    <div class="flex flex-col w-full sm:w-2/3 justify-between p-10 rounded-xl bg-white dark:bg-darkCard dark:text-darkText shadow-md hover:shadow-lg transition-all duration-300">
        <h1 class="text-3xl font-bold mb-6 text-center">
            {{ job.title }}
        </h1>
        <div class="flex">
            <p>
                {{ job.location }} - {{ job.company }}
            </p>
        </div>
        <div class="my-6 border-b"></div>
        <h2 class="text-xl font-bold mb-4">
            Detalles de la oferta:
        </h2>
        <p [innerText]="job.summary" class="text-justify text-sm whitespace-pre-line">
            {{ job.summary }}
        </p>
        <div class="my-6 border-b"></div>
        <h2 class="text-xl font-bold mb-4">
            Habilidades requeridas:
        </h2>
        <p class="italic px-5">
            {{ job.keywords }}
        </p>
        <a 
            [href]="job.url" 
            target="_blank" 
            rel="noopener noreferrer"
            class="mt-10 text-white dark:text-black hover:dark:text-white text-center font-bold px-4 py-2 rounded-md transition-all duration-300"
            [ngClass]="{
                'bg-green-300 hover:bg-green-600': jobDetail.match_percentage === 100,
                'bg-blue-300 hover:bg-blue-600': jobDetail.match_percentage >= 70 && jobDetail.match_percentage < 100,
                'bg-orange-300 hover:bg-orange-600': jobDetail.match_percentage >= 50 && jobDetail.match_percentage < 70,
            }"
        >
            Aplica a esta oferta
        </a>
    </div>
    <div *ngIf="jobDetail.match_percentage != 100 && jobDetail.missing_skills.length != 0" class="flex flex-col w-full sm:w-2/3 justify-between mt-4 p-10 rounded-xl bg-white dark:bg-darkCard dark:text-darkText shadow-md hover:shadow-lg transition-all duration-300">
        <p class="text-xl font-bold mb-4">
            Te hacen falta las siguientes habilidades:
        </p>
        <div class="flex gap-6 font-bold px-5">
            <button
                *ngFor="let skill of jobDetail.missing_skills" 
                class="
                    w-min-20 h-12 p-2 border-solid border-2 border-blue-500 rounded-md 
                    cursor-pointer shadow-md hover:shadow-lg hover:scale-105
                "
            >
                {{ skill }}
            </button>
        </div>
        <div class="mt-4 border-b"></div>
        <div class="mt-4">
            <span class="font-bold">NOTA: </span>
            <span>
                Puedes darle clic a la habilidad que te hace falta y 
                visitar uno de nuestros aliados para adquirir dichos conocimientos.
            </span>
        </div>
    </div>
</div>