@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

  .dot {
    width: 20px;
    height: 20px;
    font-size: 20px;
    display: inline-block;
    position: relative;
    transform: translateY(-1px);
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 5px;
    padding-bottom: 5px;
  }

  /* 🔆 Animate boder rotate */
  .glow-animated {
    position: relative;
    z-index: 0;
  }

  .glow-animated::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: inherit;
    background: conic-gradient(
      from 0deg,
      #00f0ff,
      #007bff,
      #33ccff,
      #00f0ff
    );
    animation: spinGlow 3s linear infinite;
    filter: blur(6px);
    opacity: 0.8;
  }

  @keyframes spinGlow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* match color per % */
  .glow-green::before {
    background: conic-gradient(#00ff00, #33ff66, #00ff00);
  }

  .glow-blue::before {
    background: conic-gradient(#007bff, #66ccff, #007bff);
  }

  .glow-orange::before {
    background: conic-gradient(#ffa500, #ffcc66, #ffa500);
  }
}